body{
    background-color: rgb(24, 24, 24);
    height: 2000PX;
}    
*{
    margin: 0;
    padding: 0;
}
.static{
    position: static; /* по умолчанию элементы располагаются в обычном потоке документа.
*/  margin-top: 50px;
    color: aliceblue;
    font-family: 'Century Gothic';
}
.relative{
    top: 20px;
    left: 30px;
    position: relative;
    color: aliceblue;
    font-family: 'Century Gothic';

}
.absolute{
    position: absolute;
    color: aliceblue;
    font-family: 'Century Gothic';
    margin-top: 70px;
}
.block1{
    width: 50px;
    height: 50px;
    background-color: aliceblue;
    position: static;
}
.block2{
    width: 50px;
    height: 50px;
    background-color: rgb(0, 224, 56);
    position: relative;
}
.block3{
    width: 50px;
    height: 50px;
    background-color: rgb(233, 8, 8);
    position: absolute;
    left: 30px;

}
.block4{
    width: 50px;
    height: 50px;
    background-color: rgb(233, 8, 8);
    position: absolute;
    left: 30px;
    bottom: 5px;
}
.fixed{
    position: fixed;
    bottom: 90px;
    right: 10px;
    color: aliceblue;
    font-family: 'Century Gothic';
}
.block5{
    width: 50px;
    height: 50px;
    background-color: rgb(9, 149, 230);
    position: fixed;

}
.sticky{
    position: sticky;
    color: aliceblue;
    top: 10px;

}
